/* .table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
}

.table thead tr {
    background-color: #6173c4;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: center;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #6173c4;
} */
/* AbilityList.css */

.mastery-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .mastery-table th,
  .mastery-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .mastery-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .mastery-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .mastery-table tr:hover {
    background-color: #ddd;
  }
  
  .mastery-table th,
  .mastery-table td {
    text-align: center;
  }
  
  .mastery-table button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .mastery-table button:hover {
    background-color: #ddd;
  }  