.form {
    display: flex;
    flex-direction: column;
}

.rowNbutton{
    max-width: 100%;
    display: flex;
}


.input-row {
    max-width: 80%;
    display:inline-block;
    gap: 10px;
    margin-bottom: 10px;
}

.input-row input {
    height: 40px; /* Adjust the height as needed */
    margin-inline-start: 1em;
    margin-bottom: 1em;
    flex: 1;
}

.description-input {
    margin-left: 1em;
    margin-right: 1em;
    height: 120px; /* Adjust the height as needed */
    resize: vertical;
    max-width: 100%; /* Prevent text from exceeding screen width */
    word-wrap: break-word; /* or overflow-wrap: break-word; */
    white-space: pre-wrap; /* or white-space: normal; */
}

.button {
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: 8em;
    border-radius: 4px;
    padding: 12px 28px;
    opacity: 0.6;
    cursor: not-allowed;
    transition-duration: 0.4s;
}

#featForm:valid .button{
    background-color: green;
    cursor:pointer;
}

#featForm:valid .button:hover {
    background-color: #1ca573; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}